/**
Main Root Configs
*/
:root {
  /**
  Color definitions
  */
  --midnight: #121217;
  --platinum: #E5E4E2;
  --solitude: #e9edf0;
  --pastel-green: #BCEDB6;
  --black-rock: #303139;
  --indigo: #2c3e50;
  --taupe: #898889;
  --light-gray: #D3D3D3;

  /**
  Text Color Definitions
  */
  --h1-color: var(--black-rock);
  --h2-color: var(--black-rock);
  --p-color: black;
  --a-color: var(--black-rock);
  --footer-text-color: var(--taupe);

  /**
  Background Color Definitions 
  */
  --main-background-color: white;
  --tile-background-color: var(--platinum);
  --footer-background-color: var(--platinum);
  --header-background-color: white;

  /**
  Divider Color Definitions
  */
  --divider-color: var(--black-rock);

  /**
  Hyperlink Color Deinitions
  */
  --link-color: var(--black-rock);
  --link-visited-color: var(--taupe);
  --link-hover-color: pink;

  /**
  Cover Image Definitions
  */
  --cover-image: url(./img/header-light.png);
  --cover-imgae-position: bottom right;
  --cover-image-size: 50%;
  --cover-image-background-color: var(--solitude);

  /**
  Border Color Definiations
  */
  --main-border-color: var(--platinum)
}

/**
Main Root Dark Mode Configs
*/
@media (prefers-color-scheme: dark) {
  :root {
  /**
  Dark Text Color Definitions
  */
  --h1-color: white;
  --h2-color: var(--pastel-green);
  --p-color: white;
  --a-color: white;
  --footer-text-color: white;

  /**
  Dark Background Color Definitions 
  */
  --main-background-color: black;
  --tile-background-color: var(--midnight);
  --footer-background-color: var(--midnight);
  --header-background-color: var(--midnight);

  /**
  Divider Color Definitions
  */
  --divider-color: white;

  /**
  Dark Hyperlink Color Deinition
  */
  --link-color: white;
  --link-visited-color: var(--light-gray);
  --link-hover-color: var(--pastel-green);

  /**
  Dark Image URL Definitions
  */
  --cover-image: url(./img/header-dark.png);
  --cover-imgae-position: bottom left;
  --cover-image-size: 60%;
  --cover-image-margin-left: 40%;
  --cover-image-background-color: var(--midnight);

  /**
  Border Color Definiations
  */
  --main-border-color: var(--pastel-green);
  }
}

/**
Font Declrationas
*/
@font-face {
  font-family: santorini;
  src: url('./font/santorini/Santorini.otf');
}

/**
Main tag configs
*/
body {
  width: 100%;
  margin: 0 auto;
  color: var(--p-color);
  transition: color 2s, background-color 2s;
  background-color: var(--main-background-color);
  text-rendering: optimizeLegibility;
 }

footer {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
  background-color: var(--footer-background-color);
}

a:link {
  text-decoration: none;
  color: var(--link-color);
}

a:visited {
  color: var(--link-visited-color);
}

a:hover {
  color: var(--link-hover-color);
}

a {
  color: var(--a-color);
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

h1 {
  font-size: 72px;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: var(--h1-color);
  text-transform: uppercase;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  font-family: santorini;
  color: var(--h2-color);
  font-weight: bold;
  font-size: 50px;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
}

p {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: var(--p-color);
  text-align: left;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.8;
}

/**
Main Animations
*/
.appear {
  opacity: 0;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

.appear:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}




